@model DigitalAppraiser.Models.ViewModels.LoginModel

@{
    Layout = null;
    ViewBag.Title = "Change Password";
}
<style>
    body {
        background-image: url('../../Content/Images/background1.jpg');
        background-size: cover;
    }

    .login-form {
        margin-top: 90px;
        box-shadow: 0px 0px 10px 1px grey;
        border-radius: 5px;
        padding-bottom: 20px;
        background: white;
    }

    .title {
        background: #007bbf;
        padding: 10px;
        text-align: center;
        color: #fff;
        border-radius: 0px 0px 10px 10px;
    }

    .error {
        color: red;
    }
</style>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body>
    <div class="container">
        <div class="login-form col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-8 offset-2 col-lg-4 offset-lg-4">
            <h1 class="title"> Change Password </h1>
            @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
            {
                <form>
                    <div class="form-group">
                        <label>Mobile Number<span style="color:red">*</span></label>
                        @Html.TextBoxFor(x => x.MobileNumber, new { id = "txtMobileNumber", @class = "form-control", @onkeypress = "IsNumeric(event)", @maxlength = "10", autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.MobileNumber, "", new { @class = "error" })
                    </div>
                    <div class="form-group">
                        <label>Password<span style="color:red">*</span></label>
                        @Html.PasswordFor(x => x.Password, new { id = "txtPassword", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "error" })
                    </div>
                    <div class="form-group">
                        <label>New Password<span style="color:red">*</span></label>
                        @Html.PasswordFor(x => x.NewPassword, new { id = "txtNewPassword", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "error" })
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Submit" />
                        <a class="btn btn-primary btn-block" href="/Login/Login">Cancel</a>
                    </div>
                    @if (Model.ErrorMessage != null)
                    {
                        <div id="divError" class="alert-danger form-control">
                            <span id="spnError"> @Model.ErrorMessage </span>
                        </div>
                    }
                </form>
            }
        </div>
    </div>
</body>
<script>
    IsNumeric = function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            e.preventDefault()
        }
    }
    Reset = function () {
        $("#txtMobileNumber").val("");
        $("#txtPassword").val("");
        $("#txtNewPassword").val("");
    }  
</script>
