<!DOCTYPE html>
<style>
    body {
        /*background: url('Images/background4.jpg') no-repeat;*/
        background-image: url('../../Content/Images/background1.jpg');
        background-size: cover;
    }
    .error {
        color: red;
    }
    .flexLeft {
        justify-content: flex-start !important;
    }
    .disable-color {
        background-color: #fff !important;
    }

        .disable-color:hover {
            cursor: not-allowed;
        }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <!--[if IE]>
     <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <![endif]-->
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>*@
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>*@
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            var height = window.innerHeight;
            //$("#divMainContainer").height(height - 200);
            //$('#divMain').css('min-height', height - 200);
            //$('#divMain').css('max-height', height - 175);
            //var width = window.innerWidth;
            //if (width < 859) {
            //    $("#liSettings").css('float', 'none');
            //    $("#liUserName").css('float', 'none');
            //    $("#liLogout").css('float', 'none');
            //}
        })
        //$(document).ajaxStart(function () {
        //    $("#loader").show();
        //});

        //$(document).ajaxComplete(function () {
        //    $("#loader").hide();
        //});
        ActiveMenu = function (menuId) {
            debugger;
            $("#myNavbar a.active").removeClass("active");

            $("#" + menuId).addClass("active");
        }


    </script>
</head>
<body style="padding: 0px;">
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent sticky-top" style="background-color:#322e25 !important;">
        <div class="container-fluid">
            <a class="navbar-brand"><img src="~/Content/Images/logo.jpg" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu" style="background-color:#322e25 !important;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a id="liTodayRate" class="nav-link" href="/Apraiser/TodayRate">Today Rate</a></li>
                    <li class="nav-item"><a id="liProcessLoan" class="nav-link" href="/Apraiser/ProcessLoan">Process Loan</a></li>
                    <li class="nav-item"><a id="liCustomerData" class="nav-link" href="/Apraiser/CustomerLoanData">Customer data</a></li>
                    <li class="nav-item"><a id="liCollectLoan" class="nav-link" href="/Apraiser/CollectLoan">Collect Personal Loans</a></li>
                    <li class="nav-item"><a id="liSubscription" class="nav-link" href="/Apraiser/Subscription">Subscription</a></li>
                    <li class="nav-item"><a href="/Apraiser/Settings" class="nav-link"><img src="~/Content/Images/icons8-settings.svg" /></a></li>
                    <li class="nav-item"><a class="nav-link"> @LogedUser.UserName </a></li>
                    <li class="nav-item"><a href="/Login/Logout" class="nav-link"><img src="~/Content/Images/power_settings_new-24px.png" /> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-left" id="divMainContainer">
        <div class="row content">
            <div class="overlay" id="loader" style="display:none">
                <img src="~/Content/Images/loader-black.gif" style="margin-left:50%;" />
                @*<img src="~/Content/Images/ajax-loader.gif"  />*@
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                <div id="divMain" style="overflow-y:auto !important;overflow-x:hidden;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @*<footer class="container-fluid text-center" style="margin-top: 4.5%;">
            <p>Copyrights &copy; Smithoid Technologies</p>
        </footer>*@
<div class="fixed-bottom text-center" style="bottom: -1rem;"> <p style="color:#fff;">Copyrights &copy; Smithoid Technologies</p></div>
</body>
</html>
