<!DOCTYPE html>
<style>
    body {
        /*background: url('Images/background4.jpg') no-repeat;*/
        background-image: url('../../Content/Images/background4.jpg');
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <!--[if IE]>
     <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <![endif]-->
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>*@
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>*@
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            var height = window.innerHeight;
            //$("#divMainContainer").height(height - 200);
            //$('#divMain').css('min-height', height - 200);
            //$('#divMain').css('max-height', height - 175);
        })
        $(document).ajaxStart(function () {
            $("#loader").show();
        });

        $(document).ajaxComplete(function () {
            $("#loader").hide();
        });
        ActiveMenu = function (menuId) {
            debugger;
            $("#myNavbar a.active").removeClass("active");

            $("#" + menuId).addClass("active");
        }


    </script>
</head>
<body style="padding: 0px;">

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo"><img src="~/Content/Images/logo.jpg" /></label>
        <ul id="ulMenu" onchange="ActiveMenu()" style="overflow-y: auto;">
            <li><a id="liTodayRate" href="/Apraiser/TodayRate">Today Rate</a></li>
            <li><a id="liProcessLoan" href="/Apraiser/ProcessLoan">Process Loan</a></li>
            <li><a id="liCustomerData" href="/Apraiser/CustomerLoanData">Customer data</a></li>
            <li><a id="liCollectLoan" href="/Apraiser/CollectLoan">Collect Personal Loans</a></li>
            <li><a id="liSubscription" href="/Apraiser/Subscription">Subscription</a></li>
            <li style="float:right"><a href="/Apraiser/Settings"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li style="float:right"><a> @LogedUser.UserName </a></li>
            <li style="float:right"><a href="/Login/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
        @*<ul style="float:right;margin:0px;">
            <li><a href="/Apraiser/Settings"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li><a> @LogedUser.UserName </a></li>
            <li><a href="/Login/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>*@
    </nav>

    <div class="container-fluid text-left" id="divMainContainer">
        <div class="row content">
            <div class="overlay" id="loader" style="display:none">
                <img src="~/Content/Images/loader-black.gif" style="margin-left:50%;"/>
                @*<img src="~/Content/Images/ajax-loader.gif"  />*@
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                <div id="divMain" style="overflow-y:auto !important;overflow-x:hidden;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @*<footer class="container-fluid text-center" style="margin-top: 4.5%;">
            <p>Copyrights &copy; Smithoid Technologies</p>
        </footer>*@
</body>
</html>
