@model DigitalAppraiser.Models.ViewModels.ReceiptModel
<script src="~/Scripts/jQuery.print.js"></script>
@{
    var RelationType = "";
    if (Model.bankCustomerDetails.RelationType == 1)
    {
        RelationType = "Son of";
    }
    else if (Model.bankCustomerDetails.RelationType == 2)
    {
        RelationType = "Daughter of";
    }
    else
    {
        RelationType = "Wife of";
    }
}
<style>
    /*    #divSbiReport{
        font-size:18px;
        font-family: Arial;
    }*/
    .table-bordered th, .table-bordered td {
        border: 1px solid #121213;
    }

    /*.table-bordered {
        border: 1px solid #161617;
    }*/
</style>
<script src="~/Scripts/printThis.js"></script>

<div class="container" style="width:100%;background:#fff;font-size:18px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;" id="divSbiReport">
    <div class="row">
        <div style="margin: auto;width:80%;text-align:right" id="divAnnexture">
            <p class="h3">Annexure - PL-62</p>
        </div>
        <div style="margin: auto;width:100%;text-align:center" id="divCertificate">
            <p class="h2 underlined" style="text-decoration: underline;">APPRAISER CERTIFICATE</p>
        </div>
    </div>
    <div class="row col-11">
        <div class="offset-1">
            <p>To</p>
            <p>The Branch Manager</p>
            <p>State Bank of India</p>
            <p><span style="font-weight:bold;text-decoration:underline;">@Model.bankCustomerDetails.Branch </span>Branch.</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-11">
            <span class="float-right" style="margin-right:20%;font-weight:bold;margin-top:-3rem;">Ac.No.</span>
        </div>
    </div>
    <div class="row col-12">
        <div class="offset-1">
            <div> Dear Sir, </div>
            <br />
            <p>
                I hereby certify that

                @*the Gold Ornaments mentioned below belonging to*@

                Sri/Smt<span style="font-weight:bold;text-decoration:underline;">&nbsp;@Model.bankCustomerDetails.Name</span> &nbsp;<span>@RelationType </span> <span style="font-weight:bold;text-decoration:underline;">@Model.bankCustomerDetails.RelationName</span>
                Resident of <span style="font-weight:bold;text-decoration:underline;">@Model.bankCustomerDetails.Address</span>
                who has sought gold loan from the Bank is not my relative and the gold against which the loan is sought is not purchased from me. The ornaments/Coins have been weighted and appraised by me on

                <span style="font-weight:bold;text-decoration:underline;">@DateTime.Now.ToString("dd/MMM/yyyy")</span> in the presence of Sri/Smt ________________ (Cash in charge) and the exact weight, purity of the metal and market value of each item as

                on date are indicated below:
            </p>
            <br />
            <p>Market rate per Gram : Rs: <span style="font-weight:bold;text-decoration:underline;">@Model.todayRate.Rate</span></p>
        </div>
    </div>
    <div class="row offset-1">
        <table class="table-responsive col-sm-11" style="border: 1px solid #161617;">
            <thead>
                <tr>
                    <th scope="col" class="text-center" style="border: 1px solid #121213">S.No</th>
                    <th scope="col" class="text-center" style="border: 1px solid #121213">Description of the article</th>
                    <th scope="col" class="text-center" style="border: 1px solid #121213">Gross Weight</th>
                    <th scope="col" class="text-center" style="border: 1px solid #121213">Approximate weight of the precious stones in the ornaments (Grams)</th>
                    <th scope="col" class="text-center" style="border: 1px solid #121213">Purity (Carat)</th>
                    <th scope="col" class="text-center" style="border: 1px solid #121213">Net Weight (Grams)</th>
                    <th scope="col" class="text-center" style="border: 1px solid #121213">Market Value Rs.</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal GW = 0;
                    decimal SW = 0;
                    decimal NW = 0;
                    decimal MP = 0;
                    int total = 0;
                    for (int i = 1; i <= Model.ornamentsList.Count(); i++)
                    {
                        GW += Model.ornamentsList[i - 1].GrossWeight;
                        SW += Model.ornamentsList[i - 1].StoneWeight;
                        NW += Model.ornamentsList[i - 1].NetWeight;
                        MP += Model.ornamentsList[i - 1].MarketPrice;
                        total += Model.ornamentsList[i - 1].Quantity;
                        <tr>
                            <th scope="row" class="text-center" style="border: 1px solid #121213">@i</th>
                            <td class="text-center" style="border: 1px solid #121213">@Model.ornamentsList[i - 1].Ornament (@Model.ornamentsList[i - 1].Quantity) </td>
                            <td class="text-center" style="border: 1px solid #121213">@Model.ornamentsList[i - 1].GrossWeight </td>
                            <td class="text-center" style="border: 1px solid #121213">@Model.ornamentsList[i - 1].StoneWeight </td>
                            <td class="text-center" style="border: 1px solid #121213">22 </td>
                            <td class="text-center" style="border: 1px solid #121213">@Model.ornamentsList[i - 1].NetWeight </td>
                            <td class="text-center" style="border: 1px solid #121213">@Model.ornamentsList[i - 1].MarketPrice </td>
                        </tr>
                    }
                    <tr>
                        <td style="border: 1px solid #121213"></td>
                        <td style="border: 1px solid #121213" class="text-center">Total(@total)</td>
                        <td scope="col" style="font-weight: bold;text-decoration:underline;border: 1px solid #121213" class="text-center">@GW</td>
                        <td scope="col" style="font-weight: bold;text-decoration:underline;border: 1px solid #121213" class="text-center">@SW</td>
                        <td style="border: 1px solid #121213"></td>
                        <td scope="col" style="font-weight: bold;text-decoration:underline;border: 1px solid #121213" class="text-center">@NW</td>
                        <td scope="col" style="font-weight: bold;text-decoration:underline;border: 1px solid #121213" class="text-center">@MP</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <br />
    <br />
    <div class="row offset-1 col-11">
        <p>
            I Solemnly declare that weight, purity of the gold ornaments/precious stones indicated
            above are correct and I under take to indemnify the Bank against any loss it may sustain on
            account of any inaccuracy in the above appraisal.
        </p>
    </div>
    <br />
    <div class="row">
        <div class="offset-1 col-11">
            <p>Place: @Model.bankCustomerDetails.Branch</p>
            <span class="float-right" style="margin-right:5%;margin-top:-4%;">Yours Faithfully</span>
            <p>Date: <span style="font-weight:bold;text-decoration:underline;">@DateTime.Now.ToString("dd/MMM/yyyy")</span><span class="fa-pull-right"></span></p>
            <span class="float-right" style="margin-right:5%;margin-top:-2%;">Appraiser</span>
        </div>
    </div>
    <div>
        <p class="row justify-content-center align-self-center">Signature of the Borrower</p>
    </div>
</div>
<input type="button" class="btn btn-info col-sm-2 offset-5" id="btnSaveCustomerSelf" value="PRINT" onclick="PrintReceipt()" />
<script>
    PrintReceipt = function () {
        //$.print("#divSbiReport");
        $("#divSbiReport").printThis();
    }
    $(document).ready(function () {
    })
</script>
