@model DigitalAppraiser.Models.ViewModels.ReceiptModel
<script src="~/Scripts/jQuery.print.js"></script>

<div id="divSelfReceipt" class="offset-md-3 offset-lg-3 col-md-6 col-lg-6 offset-sm-1 col-sm-10 offset-1 col-10" style="background-color:#fff">
    <div style="margin: auto;width:100%;text-align:center">
        <h1>@Model.ShopDetails</h1>
    </div>
    <div style="margin: auto;width:100%;text-align:center">
        <p>@Model.ShopAddress</p>
    </div>
    <div style="margin: auto;width:100%;text-align:center">
        <p>Ph.No: @Model.Shopnumber</p>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>Loan Given Date</td>
            <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.CreatedOn.DateTime.ToShortDateString()</td>
        </tr>
        <tr>
            <td>Loan ID</td>
            <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.LoanId</td>
        </tr>
        <tr>
            <td>Customer Name</td>
            <td style="font-weight: bold; font-size: 20px;">@Model.selfCustomerDetails.Name</td>
        </tr>
        <tr>
            <td>UAN Number</td>
            <td>@Model.selfCustomerDetails.UANNumber</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Model.selfCustomerDetails.Address</td>
        </tr>
        <tr>
            <td>Ornaments</td>
            <td>@Model.ornamentsList[0].Ornament</td>
        </tr>
        <tr>
            <td>Total Gross Weight</td>
            <td>@Model.ornamentsList[0].GrossWeight</td>
        </tr>
        <tr>
            <td>Total Stone Weight</td>
            <td>@Model.ornamentsList[0].StoneWeight</td>
        </tr>
        <tr>
            <td>Total Net Weight</td>
            <td>@Model.ornamentsList[0].NetWeight</td>
        </tr>
        <tr>
            <td>Total Items Quantity</td>
            <td>@Model.ornamentsList[0].Quantity</td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td>@Model.selfCustomerDetails.MobileNumber</td>
        </tr>
        <tr>
            <td>Principle Amount</td>
            <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.LoanAmount</td>
        </tr>
        <tr>
            <td>Rate of Interest</td>
            <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.Interest</td>
        </tr>
        <tr>
            <td>Estimated Monthly Interest</td>
            <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.EMI</td>
        </tr>
    </table>
    @if (Model.Note != null)
    {
        <span> Note: @Model.Note</span>
    }
    <br />
    <table class="table table-borderless">
        <tr>
            <td> Customer Sign </td>
            <td><label class="fa-pull-right"> Signing Authority </label></td>
        </tr>
    </table>

</div>
<div class="offset-md-3 offset-lg-3 col-md-6 col-lg-6 offset-sm-1 col-sm-10 offset-1 col-10">
    <input type="button" class="btn btn-info fa-pull-right" id="btnSaveCustomerSelf" value="PRINT" onclick="PrintReceipt()">
</div>

@*<style>
        #divReceipt1 {
            -ms-transform: rotate(90deg); /* IE 9 */
            transform: rotate(90deg); /* Standard syntax */
        }
        #divReceipt2 {
            -ms-transform: rotate(90deg); /* IE 9 */
            transform: rotate(90deg); /* Standard syntax */
        }
    </style>*@

<div id="divSelfPrint" class="col-12 form-inline" style="display:none;">
    <div id="divReceipt1" class="col-6" style="background-color:#fff">
        <div style="width:100%;text-align:center">
            <h1>@Model.ShopDetails</h1>
        </div>
        <div style="width:100%;text-align:center">
            <p>@Model.ShopAddress</p>
        </div>
        <div style="width:100%;text-align:center">
            <p>Ph.No: @Model.Shopnumber</p>
        </div>
        <table class="table table-bordered">
            <tr>
                <td>Loan Given Date</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.CreatedOn.DateTime.ToShortDateString()</td>
            </tr>
            <tr>
                <td>Loan ID</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.LoanId</td>
            </tr>
            <tr>
                <td>Customer Name</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.selfCustomerDetails.Name</td>
            </tr>
            <tr>
                <td>UAN Number</td>
                <td>@Model.selfCustomerDetails.UANNumber</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@Model.selfCustomerDetails.Address</td>
            </tr>
            <tr>
                <td>Ornaments</td>
                <td>@Model.ornamentsList[0].Ornament</td>
            </tr>
            <tr>
                <td>Total Gross Weight</td>
                <td>@Model.ornamentsList[0].GrossWeight</td>
            </tr>
            <tr>
                <td>Total Stone Weight</td>
                <td>@Model.ornamentsList[0].StoneWeight</td>
            </tr>
            <tr>
                <td>Total Net Weight</td>
                <td>@Model.ornamentsList[0].NetWeight</td>
            </tr>
            <tr>
                <td>Total Items Quantity</td>
                <td>@Model.ornamentsList[0].Quantity</td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td>@Model.selfCustomerDetails.MobileNumber</td>
            </tr>
            <tr>
                <td>Principle Amount</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.LoanAmount</td>
            </tr>
            <tr>
                <td>Rate of Interest</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.Interest</td>
            </tr>
            <tr>
                <td>Estimated Monthly Interest</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.EMI</td>
            </tr>
        </table>
        @if (Model.Note != null)
        {
            <span> Note: @Model.Note</span>
        }
        <br />
        <table class="table table-borderless">
            <tr>
                <td> Customer Sign </td>
                <td><label class="fa-pull-right"> Signing Authority </label></td>
            </tr>
        </table>

    </div>
    <div id="divReceipt2" class="col-6" style="background-color:#fff">
        <div style="width:100%;text-align:center">
            <h1>@Model.ShopDetails</h1>
        </div>
        <div style="width:100%;text-align:center">
            <p>@Model.ShopAddress</p>
        </div>
        <div style="width:100%;text-align:center">
            <p>Ph.No: @Model.Shopnumber</p>
        </div>
        <table class="table table-bordered">
            <tr>
                <td>Loan Given Date</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.CreatedOn.DateTime.ToShortDateString()</td>
            </tr>
            <tr>
                <td>Loan ID</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.LoanId</td>
            </tr>
            <tr>
                <td>Customer Name</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.selfCustomerDetails.Name</td>
            </tr>
            <tr>
                <td>UAN Number</td>
                <td>@Model.selfCustomerDetails.UANNumber</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@Model.selfCustomerDetails.Address</td>
            </tr>
            <tr>
                <td>Ornaments</td>
                <td>@Model.ornamentsList[0].Ornament</td>
            </tr>
            <tr>
                <td>Total Gross Weight</td>
                <td>@Model.ornamentsList[0].GrossWeight</td>
            </tr>
            <tr>
                <td>Total Stone Weight</td>
                <td>@Model.ornamentsList[0].StoneWeight</td>
            </tr>
            <tr>
                <td>Total Net Weight</td>
                <td>@Model.ornamentsList[0].NetWeight</td>
            </tr>
            <tr>
                <td>Total Items Quantity</td>
                <td>@Model.ornamentsList[0].Quantity</td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td>@Model.selfCustomerDetails.MobileNumber</td>
            </tr>
            <tr>
                <td>Principle Amount</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.LoanAmount</td>
            </tr>
            <tr>
                <td>Rate of Interest</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.Interest</td>
            </tr>
            <tr>
                <td>Estimated Monthly Interest</td>
                <td style="font-weight: bold; font-size: 20px;">@Model.loanDetails.EMI</td>
            </tr>
        </table>
        @if (Model.Note != null)
        {
            <span> Note: @Model.Note</span>
        }
        <br />
        <table class="table table-borderless">
            <tr>
                <td> Customer Sign </td>
                <td><label class="fa-pull-right"> Signing Authority </label></td>
            </tr>
        </table>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#txtDate").datepicker({ dateFormat: "dd-M-yy" }).datepicker("setDate", new Date());
    })
    PrintReceipt = function () {
        //$("#divSelfPrint").html($("#divSelfReceipt").html());
        //$("#divSelfPrint").append($("#divSelfReceipt").html());
        $("#divSelfPrint").show();
        $.print("#divSelfPrint");
        $("#divSelfPrint").hide();
    }

</script>